@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  height: 115px;
  width: 100%;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(228, 137, 0, 0.86) 0%,
    rgba(255, 175, 20, 0.6536) 100%
  );
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  gap: 20px;
}

.btn-input-wrapper {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.navbar-logo {
  height: 60px;
  width: auto;
}

.navbar-input-button {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-input-box {
  height: 42px;
  background: #d9d9d9;
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 15px;
}

.navbar-search-icon {
  height: 16px;
  width: 16px;
}

.navbar-input {
  background: none;
  border: none;
  outline: none;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  flex-grow: 1;
}

.navbar-button {
  background: linear-gradient(
    156.9deg,
    #12143a 19.83%,
    rgba(44, 25, 81, 0.89) 85.05%
  );
  border-radius: 40px;
  height: 60px;
  font-family: Poppins;
  font-size: 15px;
  font-style: italic;
  font-weight: 900;
  color: #ffffff;
  padding: 10px 20px;
}

.navbar-list {
  display: flex;
  gap: 30px;
}

ul{
  cursor: pointer;
}

.navbar-list-small {
  display: none;
  background: linear-gradient(
    180deg,
    rgba(228, 137, 0, 0.86) 0%,
    rgba(255, 175, 20, 0.6536) 100%
  );
  z-index: 1200;
}

.navbar-checkbox {
  display: none;
}

.navbar-hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
}

.navbar-hamburger-bar {
  width: 25px;
  height: 3px;
  background-color: #333;
}

@media (max-width: 1100px) {
  .navbar {
    width: 100%;
  }
  .navbar-list {
    display: none;
  }

  .navbar-list-small {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    width: 100%;
    padding: 15px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  /* Display menu when checkbox is checked */
  .navbar-checkbox:checked ~ .navbar-list-small {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .navbar-list-small-children {
    font-size: 14px;
    padding: 10px 0;
  }

  .navbar-input-button {
    flex: 1;
    justify-content: space-between;
  }

  .navbar-hamburger {
    display: flex;
  }

  .navbar {
    padding: 5px;
  }
}

@media (max-width: 600px) {
  .btn-input-wrapper {
    flex-direction: column;
    gap: 10px;
    transform: scale(0.7);
  }
}

.home-page {
  background: linear-gradient(135deg, #0a0026, #1a0033, #001f4d);
  width: 100%;
  height: 90vh;
  padding: 115px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-page {
  background: black;
  width: 100%;
  display: grid;
  grid-template-columns: 45% 55%;
}

.home-page-description {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.container {
  display: grid;
  transform: scale(0.7);
}

.large-text {
  grid-area: 1 / 1;
  color: rgba(255, 204, 72, 0.28);
  font-size: 128px;
  font-family: "Besley", serif;
  font-style: italic;
  font-weight: 800;
  letter-spacing: 34.56px;
  word-wrap: break-word;
  filter: blur(3px);
}

.blur-container {
  width: 475px;
  height: 82px;
  position: absolute;
  top: 309px;
  left: 59px;
}

.blur-background {
  background: rgba(135, 51, 200, 0.97);
  box-shadow: 120px 120px 120px rgba(0, 0, 0, 0.1);
  border-radius: 9999px;
  filter: blur(30px);
}

.blur-text {
  text-align: center;
  color: white;
  font-size: 22px;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
  line-height: 28.66px;
  letter-spacing: 1.9px;
  word-wrap: break-word;
}

.center-text-container {
  width: 382px;
  height: 120px;
  position: absolute;
  top: 127px;
  left: 113px;
}

.center-text {
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-style: italic;
  font-weight: 600;
  line-height: 23.86px;
  letter-spacing: 0.2px;
  word-wrap: break-word;
}

.center-background {
  width: 220px;
  height: 20px;
  grid-area: 1/1;
  margin-left: 20%;
  background: rgba(141, 89, 226, 0.86);
  box-shadow: 25px 25px 25px rgba(0, 0, 0, 0.1);
  border-radius: 9999px;
  filter: blur(10px);
}

.bottom-container {
  position: absolute;
  top: 0;
  left: 0;
}

.bottom-background {
  width: 608px;
  height: 69px;
  grid-area: 1/1;
  background: rgba(83, 129, 248, 0.48);
  box-shadow: 110px 110px 110px rgba(0, 0, 0, 0.1);
  border-radius: 9999px;
  filter: blur(50px);
}

.bottom-text {
  display: grid;
  text-align: center;
  color: rgba(255, 229, 0, 0.86);
  font-size: 24px;
  font-family: "Bigshot One", sans-serif;
  font-weight: 400;
  line-height: 28.15px;
  letter-spacing: 1.32px;
  word-wrap: break-word;
}

.outer-container {
  display: grid;
  height: 100%;
}

.blur-background-container {
  width: 604px;
  height: 53px;
  position: absolute;
  top: 60px;
  left: 76px;
}

.blur-background-effect {
  width: 445.72px;
  height: 17.41px;
  position: absolute;
  top: 51.49px;
  left: 59.23px;
  background: #f8d67f;
  box-shadow: 110px 110px 110px rgba(0, 0, 0, 0.1);
  border-radius: 9999px;
  filter: blur(110px);
}

.text-main {
  color: #ba7000;
  font-size: 48px;
  font-family: "Besley", serif;
  font-style: italic;
  font-weight: 900;
  letter-spacing: 5.28px;
  word-wrap: break-word;
}

.secondary-text {
  color: #cecece;
  font-size: 48px;
  font-family: "Besley", serif;
  font-style: italic;
  font-weight: 800;
  letter-spacing: 5.52px;
  word-wrap: break-word;
}

.container-large {
  display: flex;
  align-items: center;
}

.blur-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 107px;
  left: 78px;
  background: rgba(0, 101, 220, 0.71);
  box-shadow: 760px 760px 760px rgba(0, 0, 0, 0.1);
  border-radius: 9999px;
  filter: blur(100px);
}

.image-element {
  z-index: 1;
  grid-area: 1 / 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-image {
  display: grid;
  height: 100%;
}

.red-blur-box {
  width: 80vh;
  height: 80vh;
  background: #c37575;
  box-shadow: 530px 530px 530px rgba(0, 0, 0, 0.1);
  border-radius: 9999px;
  filter: blur(230px);
  position: absolute;
  top: 30%;
}

.vector-img {
  grid-area: 1/1;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

.blur-box-red {
  width: 300px;
  height: 300px;
  position: absolute;
  right: 100px;
  background: #c37575;
  height: 30vh;
  width: 30vh;
  grid-area: 1/1;
  box-shadow: 400px 400px 400px rgba(0, 0, 0, 0.1);
  border-radius: 9999px;
  filter: blur(100px);
  margin-left: auto;
  margin-right: auto;
}

.text-center-large {
  text-align: center;
  color: #ffffff;
  font-size: 130px;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
  letter-spacing: 7px;
  word-wrap: break-word;
  line-height: 150px;
}

.placeholder-image {
  grid-area: 1 / 1;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 80%;
  margin-top: -150px;
  opacity: 14%;
}

.talent-text {
  grid-area: 1 / 1;
  width: 100%;
  height: 100%;
}

.second-right {
  margin-left: -50px;
  display: grid;
  grid-template-columns: 40% 60%;
}

.second-left {
}
@media (max-width: 1000px) {
  .home-page {
    flex-direction: column;
    height: auto;
    padding: 50px;
    width: 100%;
  }

  .second-page {
    grid-template-columns: 1fr;
  }

  .second-right {
    width: 100vh;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .second-left {
    width: 100vh;
    margin-left: auto;
    margin-right: auto;
  }

  .baloons {
    margin-left: -200px;
  }
}

@media (max-width: 650px) {
  .second-right {
    grid-template-columns: 1fr;
    margin-left: -100px;
  }

  .text-center-large {
    font-size: 100px;
    font-family: "Ogilen Personal Use", sans-serif;
    line-height: 150px;
  }

  .second-left {
    transform: scale(0.8);
  }

  .second-right {
    transform: scale(0.7);
  }

  .text-main {
    font-size: 35px;
    margin: 0px;
  }

  .secondary-text {
    font-size: 35px;
  }

  .outer-container {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}

@media (max-width: 350px) {
  .hero-image {
    transform: scale(0.65) !important;
  }

  .home-page-description {
    transform: scale(0.65) !important;
  }
}

@media (max-width: 590px) {
  .second-left {
    margin-left: auto
  }


  .second-right{
    margin-left: auto;
    transform: scale(0.9);
  }
}

/* 
------------------------------------------------ */

/* Second Page */

.container-second {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  transform: scale(0.7);
}

.header-text-second {
  text-align: center;
  color: white;
  font-size: 46px;
  font-family: "Keystone Demo", sans-serif;
  font-weight: 400;
  line-height: 53.96px;
  letter-spacing: 4.83px;
  word-wrap: break-word;
  grid-area: 1/1;
}

.ellipse-background-second {
  width: 402px;
  height: 32px;
  background: rgba(232, 246, 66, 0.41);
  box-shadow: 75px 75px 75px;
  border-radius: 9999px;
  filter: blur(20px);
  grid-area: 1/1;
}

.content-second {
  color: white;
  font-size: 22px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 32.74px;
  letter-spacing: 2.31px;
  word-wrap: break-word;
  list-style-type: disc;
  list-style-position: inside;
  grid-area: 1/1;
}

.container-third {
  display: grid;
  transform: scale(0.7);
}

.background-blur-large {
  background: #d460de;
  box-shadow: 40px 40px 40px;
  border-radius: 9999px;
  filter: blur(40px);
  grid-area: 1/1;
}

.background-blur-small {
  width: 322px;
  height: 281px;
  grid-area: 1/1;
  background: #8024b8;
  box-shadow: 2px 2px 2px;
  border-radius: 9999px;
  filter: blur(2px);
}

.text-container-third {
  text-align: center;
  grid-area: 1/1;
  z-index: 12;
  margin-top: auto;
  margin-bottom: auto;
}

.main-text-third {
  color: black;
  font-size: 24px;
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  line-height: 31.75px;
  letter-spacing: 0.72px;
  word-wrap: break-word;
}

.sub-text-third {
  color: white;
  font-size: 14.5px;
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  line-height: 19.18px;
  letter-spacing: 0.43px;
  word-wrap: break-word;
}

.container-fourth {
  width: 218px;
  height: 223px;
  display: grid;
  transform: scale(0.7);
  padding: 10px;
}

.background-blur-large-fourth {
  width: 218px;
  height: 223px;
  grid-area: 1/1;
  background: #d460de;
  box-shadow: 40px 40px 40px;
  border-radius: 9999px;
  filter: blur(40px);
}

.background-blur-small-fourth {
  width: 218px;
  height: 223px;
  grid-area: 1/1;
  background: #8024b8;
  box-shadow: 2px 2px 2px;
  border-radius: 9999px;
  filter: blur(2px);
}

.text-container-fourth {
  text-align: center;
  grid-area: 1/1;
  z-index: 12;
  margin-top: auto;
  margin-bottom: auto;
}

.main-text-fourth {
  color: black;
  font-size: 30.8px;
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  line-height: 40.75px;
  letter-spacing: 0.92px;
  word-wrap: break-word;
}

.sub-text-fourth {
  color: white;
  font-size: 14.5px;
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  line-height: 19.18px;
  letter-spacing: 0.43px;
  word-wrap: break-word;
}

.container-fifth {
  width: 275px;
  height: 271px;
  display: grid;
  transform: scale(0.7);
}

.background-blur-large-fifth {
  width: 275px;
  height: 271px;
  grid-area: 1/1;
  background: rgba(86, 98, 207, 0.91);
  box-shadow: 40px 40px 40px;
  border-radius: 9999px;
  filter: blur(40px);
}

.background-solid-fifth {
  width: 275px;
  height: 271px;
  grid-area: 1/1;
  background: #261983;
  border-radius: 9999px;
}

.text-container-fifth {
  text-align: center;
  grid-area: 1/1;
  z-index: 12;
  margin-top: auto;
  margin-bottom: auto;
}

.main-text-fifth {
  color: black;
  font-size: 28px;
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  line-height: 37.04px;
  letter-spacing: 0.84px;
  word-wrap: break-word;
}

.sub-text-fifth {
  color: white;
  font-size: 14.5px;
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  line-height: 19.18px;
  letter-spacing: 0.43px;
  word-wrap: break-word;
}

.container-sixth {
  transform: scale(0.7);
  display: grid;
  width: 194px;
  height: 216px;
  padding: 10px;
}

.background-blur-large-sixth {
  width: 182px;
  height: 216px;
  background: #5662d0;
  box-shadow: 40px 40px 40px;
  border-radius: 9999px;
  filter: blur(40px);
  grid-area: 1/1;
}

.background-solid-sixth {
  width: 182px;
  height: 216px;
  background: #261983;
  border-radius: 9999px;
  grid-area: 1/1;
}

.text-container-sixth {
  text-align: center;
  grid-area: 1/1;
  z-index: 12;
  margin-top: auto;
  margin-bottom: auto;
}

.main-text-sixth {
  color: black;
  font-size: 20px;
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  line-height: 26.46px;
  letter-spacing: 0.6px;
  word-wrap: break-word;
  grid-area: 1/1;
}

.sub-text-sixth {
  color: white;
  font-size: 13.5px;
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  line-height: 17.86px;
  letter-spacing: 0.41px;
  word-wrap: break-word;
}

.container-seventh {
  transform: scale(0.7);
  display: grid;
  padding: 10px;
  width: 206px;
  height: 221px;
  margin-bottom: auto;
}

.background-blur-large-seventh {
  width: 206px;
  height: 221px;
  background: rgba(212, 96, 222, 0.93);
  box-shadow: 70px 70px 70px;
  border-radius: 9999px;
  filter: blur(70px);
  grid-area: 1/1;
}

.background-solid-seventh {
  width: 206px;
  height: 221px;
  background: #8024b8;
  box-shadow: 2px 2px 2px;
  border-radius: 9999px;
  filter: blur(2px);
  grid-area: 1/1;
}

.text-container-seventh {
  text-align: center;
  grid-area: 1/1;
  z-index: 12;
  margin-top: auto;
  margin-bottom: auto;
}

.main-text-seventh {
  color: black;
  font-size: 22px;
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  line-height: 29.11px;
  letter-spacing: 0.66px;
  word-wrap: break-word;
  grid-area: 1/1;
}

.sub-text-seventh {
  color: white;
  font-size: 14.5px;
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  line-height: 19.18px;
  letter-spacing: 0.43px;
  word-wrap: break-word;
  grid-area: 1/1;
}

.hero-img {
  grid-area: 1/1;
  margin-left: -370px;
  height: 500px;
  margin-top: auto;
}

.arrow-line {
  width: 100px; /* Length of the arrow line */
  height: 0;
  border: 2px solid #d79c2a; /* Line color */
  position: relative;
  margin: 20px; /* Adjust positioning as needed */
}

.arrow-line::after {
  content: "";
  position: absolute;
  top: -6px; /* Adjust to align with the line */
  right: -10px; /* Position at the end of the line */
  border-left: 10px solid #d79c2a; /* Arrowhead color */
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.arrow-line.rotate-up {
  transform: rotate(-45deg); /* Rotate up-right */
  position: relative;
  left: 180px;
  bottom: 80px;
  width: 240px;
}

.arrow-line.rotate-down {
  transform: rotate(45deg); /* Rotate down-right */
}

.text-shadow-how {
  color: #ba7e1d;
  font-size: 58px;
  font-family: "Keystone Demo", sans-serif;
  font-weight: 400;
  line-height: 74.7px;
  letter-spacing: 9.28px;
  word-wrap: break-word;
  grid-area: 1/1;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.text-main-how {
  color: #d8ad68;
  font-size: 58px;
  font-family: "Keystone Demo", sans-serif;
  font-weight: 400;
  line-height: 74.7px;
  letter-spacing: 9.28px;
  word-wrap: break-word;
  grid-area: 1/1;
  z-index: 100;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.text-container {
  text-align: center;
  color: white;
  font-size: 22px;
  font-family: "Kaushan Script", sans-serif;
  font-weight: 400;
  line-height: 42.34px;
  letter-spacing: 0.96px;
  word-wrap: unset;
  font-style: italic;
}

.page-container {
  display: flex;
  transform: scale(0.8);
  width: 100%;
}

.offer-container {
  display: flex;
  flex-direction: column;
}

.exclusive-program-text {
  text-align: center;
  color: white;
  font-size: 42px;
  font-family: "Besley", serif;
  font-style: italic;
  font-weight: 800;
  line-height: 49.27px;
  letter-spacing: 0.63px;
  word-wrap: break-word;
}

.offer-container-row {
  display: flex;
}

.containerOffer {
  display: grid;
}

.backgroundOffer {
  width: 529px;
  height: 60px;
  background: rgba(187.32, 9.06, 83.93, 0.87);
  box-shadow: 60px 60px 60px;
  border-radius: 9999px;
  filter: blur(50px);
  grid-area: 1/1;
}

.textOffer {
  text-align: center;
  grid-area: 1/1;
  color: rgba(202.2, 196.46, 58.64, 0.77);
  font-size: 66px;
  font-family: "Besley", sans-serif;
  font-style: italic;
  font-weight: 800;
  line-height: 77.42px;
  letter-spacing: 6.93px;
  word-wrap: break-word;
  text-shadow: -2px -2px 0 #3d003d, 2px -2px 0 #3d003d, -2px 2px 0 #3d003d,
    2px 2px 0 #3d003d, -4px -4px 0 #3d003d, 4px -4px 0 #3d003d,
    -4px 4px 0 #3d003d, 4px 4px 0 #3d003d;
}

.container-box {
  border-radius: 40px;
  background: #18171730;
  padding: 30px;
  margin-top: 30px;
}

.box-text {
  font-family: Besley;
  font-size: 30px;
  font-style: italic;
  font-weight: 600;
  line-height: 46.89px;
  letter-spacing: 0.105em;
  text-align: center;
  color: white;
}

.box-span {
  font-family: Besley;
  font-size: 20px;
  font-style: italic;
  font-weight: 600;
  line-height: 31.26px;
  letter-spacing: 0.105em;
  text-align: center;
  color: black;
}

.offer-box {
  position: relative;
  margin-left: auto;
  margin-top: -80px;
}

.offer-image {
  width: 96px;
  height: 90px;
  position: absolute;
}

.offer-label {
  position: absolute;
  left: 28.93px;
  top: 33.57px;
  transform: rotate(8.5deg);
  transform-origin: 0 0;
  text-align: center;
  color: black;
  font-size: 13px;
  font-family: "Besley", sans-serif;
  font-style: italic;
  font-weight: 800;
  line-height: 15.25px;
  letter-spacing: 0.2px;
  word-wrap: break-word;
}

.worth-container {
  display: flex;
  margin-top: 80px;
  margin-left: -80px;
}

.worth-background {
  width: 290px;
  height: 156px;
  position: absolute;
  background: rgba(189.45, 17.84, 115.9, 0.91);
  box-shadow: 90px 90px 90px;
  border-radius: 9999px;
  filter: blur(90px);
}

.worth-text {
  text-align: center;
  color: #c09c48;
  font-size: 36px;
  font-family: "Besley", sans-serif;
  font-style: italic;
  font-weight: 800;
  line-height: 42.23px;
  letter-spacing: 5.4px;
  word-wrap: break-word;
  margin-left: 20px;
  text-shadow: -2px -2px 0 #3d003d, 2px -2px 0 #3d003d, -2px 2px 0 #3d003d,
    2px 2px 0 #3d003d, -4px -4px 0 #3d003d, 4px -4px 0 #3d003d,
    -4px 4px 0 #3d003d, 4px 4px 0 #3d003d;
}

.price-container {
  width: 422px;
  height: 314px;
  position: relative;
}

.price-background {
  width: 265px;
  height: 216px;
  position: absolute;
  left: 85px;
  top: 69px;
  background: rgba(253.2, 50.22, 71.12, 0.8);
  box-shadow: 80px 80px 80px;
  border-radius: 9999px;
  filter: blur(80px);
}

.price-image {
  width: 388px;
  height: 314px;
  position: absolute;
  left: 24px;
  top: 0;
}

.price-info {
  width: 422px;
  height: 157px;
  position: absolute;
  left: 0;
  top: 80px;
}

.price-text {
  width: 422px;
  height: 148px;
  position: absolute;
  left: 0;
  top: 9px;
  text-align: center;
}

.price-main {
  color: black;
  font-size: 60px;
  font-family: "Oleo Script", sans-serif;
  font-weight: 400;
  line-height: 70.38px;
  letter-spacing: 6.3px;
  word-wrap: break-word;
}

.price-sub {
  color: black;
  font-size: 42px;
  font-family: "Oleo Script", sans-serif;
  font-weight: 400;
  line-height: 49.27px;
  letter-spacing: 4.41px;
  word-wrap: break-word;
}

.price-divider {
  width: 248px;
  height: 0;
  position: absolute;
  left: 89px;
  top: 37px;
  border: 4px #fff8f8 solid;
}

.blur-background {
  width: 346px;
  height: 146px;
  grid-area: 1/1;
  background: rgba(245.76, 207.37, 71.28, 0.93);
  box-shadow: 340px 340px 340px;
  border-radius: 9999px;
  filter: blur(340px);
}

@media (max-width: 900px) {
  .offer-container-row {
    flex-direction: column;
  }

  .worth {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 450px) {
  #root {
    width: 120vh;
  }
}

