@import url("https://fonts.googleapis.com/css?family=Poppins");
body {
  margin: 0;
  font-family: "Poppins";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(135deg, #0a0026, #1a0033, #001f4d);
}
